@charset "utf-8";

/* CSS Document */

h1, h2, li, td, th, #navbar > ul > li > a, .appeal-data > span, .highcharts-title {
	font-family: 'Arimo', sans-serif !important;
}
body {
	background: #f1f9f9;
}
.container-fluid {
	margin-top: 80px;
}
.form-signin {
	max-width: 500px;
	padding: 19px 29px 29px;
	margin: 0 auto;
	//margin-top:90px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	font-family: Tahoma, Geneva, sans-serif;
	color: #990000;
	font-weight: lighter;
}
.form-signin .form-signin-heading {
	color: #00A2D1;
}
.form-signin input[type="text"], .form-signin input[type="password"], .form-signin input[type="email"] {
	font-size: 16px;
	height: 45px;
	padding: 7px 9px;
}
.signin-form, .body-container {
	//border:solid red 1px;
	margin-top: 110px;
}
.navbar-brand {
	font-family: "Lucida Handwriting";
}
#btn-submit {
	height: 45px;
}
.h5 {
	font-family: Verdana, Geneva, sans-serif;
}
h1 {
	font-family: Verdana, Geneva, sans-serif;
}
.details {
	position: absolute;
	left: 0px;
	background: #45375F;
	color: #FFF;
	padding: 10px;
	height: 92vh;
	padding-top: 40px;
	top: 40px;
}
.details > ul {
	list-style: none;
	font-size: 1.5em;
}
.details img {
	margin-bottom: 20px;
	width: 290px;
}
.picCapture {
	width: 100%;
}
#snap {
	margin-top: 17px;
	margin-bottom: 17px;
}

/***sign-up.php***/

#scehdule {
	width: 65%;
	float: right;
}

/***course.php***/

.course-info {
	background-color: #45375F;
	color: #FFF;
	padding: 10px;
	border-radius: 5px;
}
.course-info > h1 {
	color: #D3C64F;
}
.course-info > ul {
	display: inline-flex;
	list-style: none;
	padding-left: 0px;
	font-size: 20px;
}
.camera-info > ul {
	display: inline-flex;
	list-style: none;
	padding-left: 0px;
}
.camera-info > ul > li {
	margin-right: 10px;
	font-size: 20px;
}
.attendance-table {
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px #45375F;
	padding: 10px;
	border-radius: 5px;
}
.appeal-row {
	margin-bottom: 80px;
}
#appeal-form {
	float: left;
	min-width: 500px;
}
.course-info > ul >li {
	margin-right: 25px;
}
.glyphicon-ok {
	color: #027D02;
}
.glyphicon-remove {
	color: #F30505;
}
.glyphicon-asterisk {
	color: #D3C64F;
}
.over-limit {
	color: red !important;
}
#attendance-tbody > tr > td {
	text-align: center;
}
form#day_limit {
	width: 200px;
}
.appeal-img {
	cursor: pointer;
}
#cause-dd {}
div.appeal-img {
	width: 31%;
	height: 100px;
	margin: 3px;
	float: left;
}

/*** Calendar****/

#calendar {
	width: 100%;
}

/***notifications.php***/

.appeal {
	background: #8DD0D2;
	padding: 10px;
	border: 1px solid black;
	position: relative;
	margin-bottom: 10px;
	margin-right: 25px;
	width: 31%;
	display: inline-block;
	float: left;
	min-height: 453px;
}
.appeal div {
	display: inline-block;
}
.spacer{
	margin-bottom: 50px;
}
.form-el {
	width: 100%;
}
.form-response button {
	width: 50%;
}
.appeal-data >span {
	display: -webkit-box;
	font-size: 17px;
}
.appeal-file {
	height: 200px;
	width: 100%;
	background-size: cover;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*** student-notifications.php ***/

.remove-appeal {
	float: right;
	margin-right: -10px;
	margin-top: -10px;
	cursor: pointer;
}

/***cameras mgmt***/

.cameras-table {
	cursor: pointer;
}

/***footer.php***/

.footer {
	width: 100%;
	height: 35px;
	background-color: #2C2835;
	position: fixed;
	bottom: 0;
}
.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}
.container .text-muted {
	margin: 10px 0;
}
.text-muted {
	color: #777;
}


/***Media Queries***/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
	.details {
	    position: absolute;
	    left: 0px;
	    background: #45375F;
	    color: #FFF;
	    padding: 10px;
	    height: 90vh;
	    padding-top: 71px;
	    top: 98px;
	}
	#scehdule {
    width: 70%;
    float: right;
    position: relative;
    left: 77px;
    top: 90px;
}
}
